@import 'libs/normalize';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import 'components/all';

h1 {
  margin: 0 auto;
}
* {
  font-family: 'Lato', sans-serif;
}
h2 {
  font-weight: 400;
}
a,
button {
  cursor: pointer;
}
button {
  border: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: auto;
    padding: 0 14px;
  }
}
